/* CUSTOM-CSS */
/* latin-ext */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sortsmillgoudy/v16/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80g7s_1vKbfPlA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sortsmillgoudy/v16/Qw3AZR9MED_6PSuS_50nEaVrfzgEbH80jbs_1vKbfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sortsmillgoudy/v16/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHQEj7E49PCrfQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sortsmillgoudy/v16/Qw3GZR9MED_6PSuS_50nEaVrfzgEbHoEj7E49PA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, div, body {
  /* OKLCH COLOURS */
  /* H Williams Blue */
  --color-hwblue: hsl(203, 69%, 38%);
  --color-hwblue-light: hsl(203, 69%, 43%);
  --color-hwblue-dark:  hsl(203, 69%, 33%);

  /* Accent Grays */
  --color-gray: oklch(26.9% 0 0);
  --color-gray-light: oklch(37.1% 0 0);
  --color-gray-lighter: oklch(87.1% 0 0);
  --color-gray-dark: oklch(20.5% 0 0);

  /* Accent Yellows */
  --color-yellow: oklch(85.2% 0.199 91.936);
  --color-yellow-light: oklch(90.5% 0.182 98.111);
  --color-yellow-dark: oklch(79.5% 0.184 86.047);

  /* Accent Reds */
  --color-red: oklch(50.5% 0.213 27.518);
  --color-red-light: oklch(57.7% 0.245 27.325);
  --color-red-dark: oklch(44.4% 0.177 26.899);

  /* Neutrals */
  --color-black: oklch(14.5% 0 0);
  --color-white: oklch(98.5% 0 0);
}

div[class*="color-scheme-"], .announcement-bar__text {
  --color-background: var(--color-white);
  /* RGB values only to apply different opacities - Relative color values are not supported in iOS < 16.4 */
  --color-background-rgb: var(--color-background);
  --opacity-5-15: 0.05;
  --opacity-10-25: 0.1;
  --opacity-35-55: 0.35;
  --opacity-40-60: 0.4;
  --opacity-30-60: 0.3;
  --color-foreground: var(--color-black);
  --color-foreground-rgb: var(--color-foreground);
  --color-foreground-heading: var(--color-black);
  --color-foreground-heading-rgb: var(--color-foreground-heading);
  --color-primary: var(--color-hwblue);
  --color-primary-rgb: var(--color-primary);
  --color-primary-hover: var(--color-hwblue-dark);
  --color-primary-hover-rgb: var(--color-primary-hover);
  --color-border: var(--color-gray-light);
  --color-border-rgb: var(--color-border);
  --color-shadow: var(--color-black);
  --color-shadow-rgb: var(--color-shadow);
  --color-primary-button-text: var(--color-white);
  --color-primary-button-background: var(--color-hwblue);
  --color-primary-button-border: var(--color-hwblue-dark);
  --color-primary-button-hover-text: var(--color-white);
  --color-primary-button-hover-background: var(--color-hwblue-dark);
  --color-primary-button-hover-border: var(--color-hwblue-dark);
  --color-secondary-button-text: rgb(255 255 255 / 1.0);
  --color-secondary-button-background: rgb(239 239 239 / 1.0);
  --color-secondary-button-border: rgb(0 0 0 / 1.0);
  --color-secondary-button-hover-text: rgb(0 0 0 / 1.0);
  --color-secondary-button-hover-background: rgb(222 222 222 / 1.0);
  --color-secondary-button-hover-border: rgb(0 0 0 / 1.0);
  --color-input-background: var(--color-white);
  --color-input-text: var(--color-black);
  --color-input-text-rgb: var(--color-input-text);
  --color-input-border: rgb(0 0 0 / 0.08);
  --color-input-hover-background: rgb(245 245 245 / 1.0);
  --color-variant-background: rgb(255 255 255 / 1.0);
  --color-variant-border: rgb(230 230 230 / 1.0);
  --color-variant-text: rgb(0 0 0 / 1.0);
  --color-variant-text-rgb: 0 0 0;
  --color-variant-hover-background: rgb(245 245 245 / 1.0);
  --color-variant-hover-text: rgb(0 0 0 / 1.0);
  --color-variant-hover-border: rgb(230 230 230 / 1.0);
  --color-selected-variant-background: rgb(0 0 0 / 1.0);
  --color-selected-variant-border: rgb(0 0 0 / 1.0);
  --color-selected-variant-text: rgb(255 255 255 / 1.0);
  --color-selected-variant-hover-background: rgb(26 26 26 / 1.0);
  --color-selected-variant-hover-text: rgb(255 255 255 / 1.0);
  --color-selected-variant-hover-border: rgb(26 26 26 / 1.0);

  --input-disabled-background-color: rgb(var(--color-foreground-rgb) / var(--opacity-10));
  --input-disabled-border-color: rgb(var(--color-foreground-rgb) / var(--opacity-5-15));
  --input-disabled-text-color: rgb(var(--color-foreground-rgb) / var(--opacity-50));
  --color-foreground-muted: rgb(var(--color-foreground-rgb) / var(--opacity-60));
  --font-h1--color: var(--color-foreground-heading);
  --font-h2--color: var(--color-foreground-heading);
  --font-h3--color: var(--color-foreground-heading);
  --font-h4--color: var(--color-foreground-heading);
  --font-h5--color: var(--color-foreground-heading);
  --font-h6--color: var(--color-foreground-heading);

  /* Shadows */
  --shadow-blur: 20px;
  --shadow-popover: 0px 4px 20px rgb(var(--color-shadow-rgb) / var(--opacity-15));
  
}

.compare-at-price {
  color: var(--color-red);
  opacity: 1;
}

.announcement-bar__slides {
  height: calc(100% + 2px);
}

.menu-list__link-title, .menu-list__link {
  --opacity-subdued-text: 1;
}

.menu-list__link-title:hover, .menu-list__link:hover {
  color: var(--color-hwblue-dark);
}

.mega-menu__link--parent {
  font-size: 16px;
  text-decoration: underline double;
  text-decoration-thickness: 0.1px;
}

.mega-menu__link:hover {
  color: var(--color-hwblue-dark);
}

h2[class^="ai-heading-block__heading-"] {
  font-family: "Sorts Mill Goudy", serif, sans-serif;
}

div [class^="ai-heading-block-"] {
  background-color: #002555;
  background-blend-mode: luminosity;  
}

footer [id^=shopify-section-sections-][id$=media_with_content_RqxiU3] {
  background-color: #1e71a4;
  background-image:  radial-gradient(#0c5e91 1.2px, transparent 1.2px), radial-gradient(#0c5e91 1.2px, #1e71a4 1.2px);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;
}

footer [id^=shopify-section-sections-][id$=media_with_content_RqxiU3] button {
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 100px;
}

footer [id^=shopify-section-sections-][id$=media_with_content_RqxiU3] p {
  color: var(--color-white);
}


[id^=shopify-section-][id$=product_list_EDUBdR] .quick-add {
  border: var(--color-gray-lighter) 1px solid;
}

div [class^="ai-bento-box__button"] {
  border: 2px solid var(--color-white);
}

[class*=button_th889C] {
  font-size: 16px;
}

.footer-store-locations__heading {
  font-weight: bold;
}

.footer-store-locations a {
  color: var(--color-hwblue-dark);
  text-decoration: none;
}

.footer-store-locations {
  text-align: center;
}

[class^="product-badges"] div {
  font-size: 14px;
  font-weight: bold;
}

[class^="product-badges"] div:not([class*="badge--text"]) {
  background-color: var(--color-red);
  color: white;
}

[class^="product-badges"] div:not([class*="badge--text"]):after {
  font-size: 14px;
  content: "!";
}

[class$="top-gift"] {
  color: var(--color-white);
  background-color: lightcoral;
}

/* Select a custom badge that follows a sale badge under the same parent */
[class^="product-badges"] div:not([class*="badge--text"]) ~ [class*="badge--text"] {
  display: none;
}

@media screen and (max-width: 749px) {
  .footer-content > :not(.divider) {
    padding-left: 5%;
  }

  .footer-content > .group-block > div > * {
    width: fit-content;
    align-self: end;
    margin-right: 5%;
  }
}